<div class="inline-menu-container">
    <ul class="inline-menu">
        <li ui-sref="home" class="about menu-item">{{ 'home' | translate}}</li>
        <li ui-sref="about" class="about menu-item">{{ 'about' | translate}}</li>
        <li ui-sref="blog" class="about menu-item">{{ 'blog' | translate}}</li>
        <li ui-sref="pictures" class="about menu-item active">{{ 'pictures' | translate}}</li>
        <li ui-sref="contact" class="about menu-item">{{ 'contact' | translate}}</li>
    </ul>
</div>


<div class="content-blocks portfolio">
    <section class="content">
        <div class="block-content">
            <h3 class="block-title">{{ 'pictures' | translate}}</h3>
            <div class="row">
                <div class="col-md-12">
                    <ul id="filters">
                        <li id="all" class="active" data-filter="*">{{ 'All' | translate}}</li>
                        <li data-filter=".graphic">{{ 'Just Me' | translate}}</li>
                        <li data-filter=".web">{{ 'Music' | translate}}</li>
                        <li data-filter=".video">{{ 'Friends' | translate}}</li>
                        <li data-filter=".apps">{{ 'Sport' | translate}}</li>
                    </ul>
                    <div id="projects">
                        <div class="project graphic">
                            <a class="open-project">
                                <div class="project-overlay">
                                    <div class="vcenter">
                                        <div class="centrize">
                                            <h4>{{ 'I can be transparent with sun' | translate}}</h4>
                                            <p>Urla / İzmir</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <img src="images/1.jpg" alt="">
                        </div>
                        <div class="project graphic">
                            <a class="open-project">
                                <div class="project-overlay">
                                    <div class="vcenter">
                                        <div class="centrize">
                                            <h4>{{ 'TEB prize-giving ceremony' | translate}}</h4>
                                            <p>Beşiktaş / Istanbul</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <img src="images/2.jpg" alt="">
                        </div>
                        <div class="project graphic">
                            <a class="open-project">
                                <div class="project-overlay">
                                    <div class="vcenter">
                                        <div class="centrize">
                                            <h4>{{ 'Graduation' | translate}}</h4>
                                            <p>Bebek / İstanbul</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <img src="images/3.jpg" alt="">
                        </div>
                        <div class="project video">
                            <a class="open-project">
                                <div class="project-overlay">
                                    <div class="vcenter">
                                        <div class="centrize">
                                            <h4>{{ 'Backstreetgame' | translate}}</h4>
                                            <p>Alaçatı / İzmir</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <img src="images/4.jpg" alt="">
                        </div>
                        <div class="project  video">
                            <a class="open-project">
                                <div class="project-overlay">
                                    <div class="vcenter">
                                        <div class="centrize">
                                            <h4>{{ 'WithGirls' | translate}}</h4>
                                            <p>{{ 'Venice' | translate}}</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <img src="images/5.jpg" alt="">
                        </div>
                        <div class="project web">
                            <a class="open-project">
                                <div class="project-overlay">
                                    <div class="vcenter">
                                        <div class="centrize">
                                            <h4>{{ 'Plugin' | translate}}</h4>
                                            <p>Kadıköy / İstanbul</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <img src="images/6.jpg" alt="">
                        </div>
                        <div class="project web">
                            <a class="open-project">
                                <div class="project-overlay">
                                    <div class="vcenter">
                                        <div class="centrize">
                                            <h4>{{ 'With children' | translate}}</h4>
                                            <p>Salihli / Manisa</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <img src="images/7.jpg" alt="">
                        </div>
                        <div class="project apps">
                            <a class="open-project">
                                <div class="project-overlay">
                                    <div class="vcenter">
                                        <div class="centrize">
                                            <h4>{{ 'Paragliding' | translate}}</h4>
                                            <p>Ölüdeniz / Muğla</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <img src="images/8.jpg" alt="">
                        </div>
                        <div class="project apps">
                            <a class="open-project">
                                <div class="project-overlay">
                                    <div class="vcenter">
                                        <div class="centrize">
                                            <h4>{{ 'Sailing' | translate}}</h4>
                                            <p>{{ 'The Princes islands' | translate}} / İstanbul</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <img src="images/9.jpg" alt="">
                        </div>
                        <div class="project video">
                            <a class="open-project">
                                <div class="project-overlay">
                                    <div class="vcenter">
                                        <div class="centrize">
                                            <h4>{{ 'Cousin' | translate}}</h4>
                                            <p>{{ 'Venice' | translate}} / İstanbul</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <img src="images/10.jpg" alt="">
                        </div>
                        <div class="project web">
                            <a class="open-project">
                                <div class="project-overlay">
                                    <div class="vcenter">
                                        <div class="centrize">
                                            <h4>{{ 'Ballantines Music' | translate}}</h4>
                                            <p> Taksim / İstanbul</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <img src="images/11.jpg" alt="">
                        </div>
                        <div class="project  web">
                            <a class="open-project">
                                <div class="project-overlay">
                                    <div class="vcenter">
                                        <div class="centrize">
                                            <h4>{{ 'Plugin konser' | translate}}</h4>
                                            <p> Kadıköy / İstanbul</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <img src="images/12.jpg" alt="">

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    $( document ).ready(function() {
        //Portfolio masonry
        var $container = $('#projects');
        $container.isotope({
            masonry: {
                columnWidth:1
            },
            itemSelector: '.project'
        });

        //Portfolio filters
        $('#filters').on( 'click', 'li', function() {
            $('#filters li').removeClass('active');
            $(this).addClass('active');
            var filterValue = $(this).attr('data-filter');
            $container.isotope({ filter: filterValue });
        });

        $( "#all" ).trigger( "click" );

    });
</script>