<div class="inline-menu-container">
    <ul class="inline-menu">
        <li ui-sref="home" class="about menu-item">{{ 'home' | translate}}</li>
        <li ui-sref="about" class="about menu-item">{{ 'about' | translate}}</li>
        <li ui-sref="blog" class="about menu-item">{{ 'blog' | translate}}</li>
        <li ui-sref="pictures" class="about menu-item active">{{ 'pictures' | translate}}</li>
        <li ui-sref="contact" class="about menu-item">{{ 'contact' | translate}}</li>
    </ul>
</div>
<div class="content-blocks about">
    <section class="content" id="about">
        <div class="block-content">
            <h3 class="block-title">{{ 'Profile' | translate  }}</h3>
            <div class="row">
                <div class="col-md-7">
                    <p> {{ 'aboutMe1' | translate  }} &nbsp;
                        {{ 'aboutMe2' | translate  }} &nbsp;
                        {{ 'aboutMe3' | translate  }}
                    </p>

                    <p> {{ 'aboutMe4' | translate  }} &nbsp;
                        {{ 'aboutMe5' | translate  }} &nbsp;
                        {{ 'aboutMe6' | translate  }} &nbsp;
                        {{ 'aboutMe7' | translate  }}
                    </p>



                    <img class="sign" src="images/signature.png" alt="">
                </div>
                <div class="col-md-5">
                    <ul class="info-list">
                        <li><strong>{{ 'Date of birth' | translate}}  : </strong>  {{ 'June' | translate}} 28, 1988 </li>
                        <li><strong>{{ 'Address' | translate}} : </strong> Atasehir / ISTANBUL</li>
                        <li><strong>{{ 'Email'| translate}} </strong>gizemarslan88@outlook.com</li>
                        <li><strong>{{ 'Skype'| translate}} </strong>gizemarslan88@outlook.com</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="block-content ">
            <h3 class="block-title">{{'Skills'| translate }}</h3>
            <div class="row">
                <div class="col-sm-6">
                    <h4>{{'TechnicalSkills'| translate }}</h4>
                    <label class="progress-bar-label">JAVA - <span> 5 {{ 'years experience' | translate}}</span></label>
                    <div class="progress">
                        <div style="width: 85%;" class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                            <span>85%</span>
                        </div>
                    </div>
                    <label class="progress-bar-label">JavaScript - JQuery - AngularJS <span> 4 {{ 'years experience' | translate}}</span></label>
                    <div class="progress">
                        <div style="width: 80%;" class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                            <span>80%</span>
                        </div>
                    </div>
                    <label class="progress-bar-label">HTML&amp;CSS - <span>7 {{ 'years experience' | translate}} </span></label>
                    <div class="progress">
                        <div style="width: 80%;" class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                            <span>80%</span>
                        </div>
                    </div>
                    <label class="progress-bar-label">PL/SQL - <span>3 {{ 'years experience' | translate}}</span></label>
                    <div class="progress">
                        <div style="width: 75%;" class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            <span>75%</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <h4> {{ 'Know How' | translate}}</h4>
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="icon-list">
                                <li>Node JS </li>
                                <li>Meteor Framework</li>
                                <li>Mongo DB</li>
                                <li>Materialize Design</li>
                                <li>JSF / Richfaces</li>
                                <li>Bootstrap</li>
                                <li>SCSS</li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="icon-list">
                                <li>Eclipse</li>
                                <li>Web Storm</li>
                                <li>Robo Mongo</li>
                                <li>Clearcase</li>
                                <li>SQL Navigator</li>
                                <li>JIRA</li>
                                <li>Powerdesigner</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-content ">
            <h3 class="block-title">{{ 'Job Experiences' | translate}}</h3>
            <div class="timeline experience">

                <div class="row ">
                    <div class="col-md-12">
                        <div class="exp-holder">
                            <div class="exp">
                                <div class="hgroup">
                                    <h4>{{'Software Expert Teb' | translate }}</h4>
                                    <h5>{{'Feb' | translate }} 2014 - <span class="current">{{'Current' | translate }}</span></h5>
                                </div>
                                <p>{{'Teb Job Explanation 1'|translate}}</p>
                                <p>{{'Teb Job Explanation 2'|translate}}</p>
                            </div>

                            <div class="exp">
                                <div class="hgroup">
                                    <h4>{{'Software Expert Netas' | translate }}</h4>
                                    <h5>{{'Sept' | translate }} 2012 - {{'Feb' | translate }} 2014</h5>
                                </div>
                                <p>{{'Netas Job Explanation 1'|translate}}</p>
                                <p>{{'Netas Job Explanation 2'|translate}}</p>
                            </div>

                            <div class="exp">
                                <div class="hgroup">
                                    <h4>{{'Software Expert Koc' | translate }} </h4>
                                    <h5>{{'July' | translate }} 2011 - {{'Sept' | translate }} 2012</h5>
                                </div>
                                <p>{{'Koc Job Explanation 1'|translate}}</p>
                                <p>{{'Koc Job Explanation 2'|translate}}</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-content">
            <h3 class="block-title">{{'Education'|translate}}</h3>
            <div class="timeline education">
                <div class="row ">
                    <div class="col-md-12">
                        <div class="exp-holder">
                            <div class="exp">
                                <div class="hgroup">
                                    <h4>{{'Boun Istanbul'|translate}} </h4>
                                    <h5>{{'Sept' | translate }} 2011 - {{'July' | translate }} 2013</h5>
                                </div>
                                <p>{{'Boun Explanation 1'|translate}}</p>
                                <p>{{'Boun Explanation 2'|translate}}</p>
                            </div>
                            <div class="exp">
                                <div class="hgroup">
                                    <h4>{{'Yeditepe Istanbul'|translate}} </h4>
                                    <h5>{{'Sept' | translate }} 2006 - {{'June' | translate }} 2015</h5>
                                </div>
                                <p>{{'Yeditepe Explanation 1'|translate}}</p>
                                <p>{{'Yeditepe Explanation 2'|translate}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block-content">
            <h3 class="block-title">{{'Interests'|translate}}</h3>
            <div class="row">
                <div class="hvr-wobble-to-bottom-right">
                <div class="col-sm-4 service">
                    <div class="service-icon">
                        <i class=" fa fa-code"></i>
                    </div>
                    <h4>{{'Web Design'|translate}}</h4>
                    <p>{{'Web Design Exp'|translate}}</p>
                </div>
                </div>
                <div class="col-sm-4 service">
                    <div class="service-icon">
                        <i class=" fa fa-music"></i>
                    </div>
                    <h4>{{'Music'|translate}}</h4>
                    <p>{{'Music Exp'|translate}}</p>

                </div>
                <div class="col-sm-4 service">
                    <div class="service-icon">
                        <i class=" fa fa-gamepad"></i>
                    </div>
                    <h4>{{'Game'|translate}}</h4>
                    <p>{{'Game Exp'|translate}}</p>

                </div>
                <div class="col-sm-4 service">
                    <div class="service-icon">
                        <i class=" fa fa-suitcase"></i>
                    </div>
                    <h4>{{'Travel'|translate}}</h4>
                    <p>{{'Travel Exp'|translate}}</p>

                </div>
                <div class="col-sm-4 service">
                    <div class="service-icon">
                        <i class=" fa fa-soccer-ball-o"></i>
                    </div>
                    <h4>{{'Sport'|translate}}</h4>
                    <p>{{'Sport Exp'|translate}}</p>

                </div>
                <div class="col-sm-4 service">
                    <div class="service-icon">
                        <i class=" fa fa-anchor"></i>
                    </div>
                    <h4>{{'Sailing and Diving'|translate}}</h4>
                    <p>{{'Sailing and Diving Exp'|translate}}</p>
                </div>
            </div>
        </div>


    </section>
</div>
<script>
    $(document).ready(function () {
        $('.content-blocks').removeClass('showx');
        $('.content-blocks').addClass('hidex');
        $('.content-blocks.about').removeClass('hidex');
        $('.content-blocks.about').addClass('showx');
        $('.menu-item').removeClass('active');
        $('.menu-item.about').addClass('active');
    });
</script>